.form-contain {
  background-color: #f4f4f4;
  height: 100%;
  display: flex;
  flex-direction: column;
}
.form-name {
  font-size: 36px;
  color: #8566aa;
  margin-top: 20px;
}
.form-main {
  margin-top: 30px;
  padding-left: 0;
}
.form-footer {
  margin-top: 10px;
  display: flex;
  flex-direction: column;
}
