<mat-sidenav-container class="main-nav">
  <div class="student-info">
    <img src="assets/unnamed.jpg" class="student-avatar">
    <p class="student-name">Vũ Anh Khoa</p>
  </div>
  <div class="route-nav">
    <button class="route-group">
      <p> Group name </p>
    </button>
    <div class="route-group">
      <p> Group name </p>
    </div>
    <div class="route-group">
      <p> Group name </p>
    </div>
    <div class="route-group">
      <p> Group name </p>
    </div>
  </div>
</mat-sidenav-container>
